.rai{
    background-color: red;

}
.abc{
    background-color: blue;
}

.test123{
    background-color: green;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}